<a href="https://colab.research.google.com/github/minicks/BigI/blob/master/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

데이터 불러오기

In [0]:
train_df = pd.read_csv('/content/drive/My Drive/train.csv')
test_df = pd.read_csv('/content/drive/My Drive/test.csv')
combine = [train_df, test_df]

# 전 처리

전처리('Embarked') 문자를 숫자값으로

In [0]:
for index in train_df[train_df['Embarked'] == 'C'].index:
  train_df.loc[index,'Embarked'] = 0

for index in train_df[train_df['Embarked'] == 'Q'].index:
  train_df.loc[index,'Embarked'] = 1

for index in train_df[train_df['Embarked'] == 'S'].index:
  train_df.loc[index,'Embarked'] = 2

for index in train_df[train_df['Embarked'].isnull()].index:
  train_df.loc[index,'Embarked'] = 0

전처리('Sex') 문자를 숫자값으로

In [0]:
for index in train_df[train_df['Sex'] == 'male'].index:
  train_df.loc[index,'Sex'] = 0

for index in train_df[train_df['Sex'] == 'female'].index:
  train_df.loc[index,'Sex'] = 1

In [0]:
# Name,Ticket,Cabin col 삭제
df_1 = train_df.drop(columns=['Name','Ticket','Cabin'])
df_1

In [0]:
#train,valid 나누기 
train0,test0 = train_test_split(df_1,test_size=0.3, random_state=1)

test

In [0]:
train0=train0.fillna(0.0)
test0=test0.fillna(0.0)

In [180]:
train0

     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
114          115         0       3    1  17.0      0      0  14.4583         0
874          875         1       2    1  28.0      1      0  24.0000         0
76            77         0       3    0   0.0      0      0   7.8958         2
876          877         0       3    0  20.0      0      0   9.8458         2
674          675         0       2    0   0.0      0      0   0.0000         2
..           ...       ...     ...  ...   ...    ...    ...      ...       ...
715          716         0       3    0  19.0      0      0   7.6500         2
767          768         0       3    1  30.5      0      0   7.7500         1
72            73         0       2    0  21.0      0      0  73.5000         2
235          236         0       3    1   0.0      0      0   7.5500         2
37            38         0       3    0  21.0      0      0   8.0500         2

[623 rows x 9 columns]

# 새 섹션

In [0]:
for index in test_df[test_df['Embarked'] == 'C'].index:
  test_df.loc[index,'Embarked'] = 0

for index in test_df[test_df['Embarked'] == 'Q'].index:
  test_df.loc[index,'Embarked'] = 1

for index in test_df[test_df['Embarked'] == 'S'].index:
  test_df.loc[index,'Embarked'] = 2

for index in test_df[test_df['Embarked'].isnull()].index:
  test_df.loc[index,'Embarked'] = 0

In [0]:
for index in test_df[test_df['Sex'] == 'male'].index:
  test_df.loc[index,'Sex'] = 0

for index in test_df[test_df['Sex'] == 'female'].index:
  test_df.loc[index,'Sex'] = 1

In [0]:
# Name,Ticket,Cabin col 삭제
df_2 = test_df.drop(columns=['Name','Ticket','Cabin'])
df_2

# 정보 모으기

In [0]:
print(train_df.sort_values(by='Survived'))
print(train_df.columns.values)
print('======================================================')
print(test_df)
print(test_df.columns.values)
print('======================================================')
print(combine)
print('======================================================')

In [15]:
print(train_df.min())
print(train_df.max())
train_df.describe(include='all')

PassengerId                      1
Survived                         0
Pclass                           1
Name           Abbing, Mr. Anthony
Sex                         female
Age                           0.42
SibSp                            0
Parch                            0
Ticket                      110152
Fare                             0
dtype: object
PassengerId                            891
Survived                                 1
Pclass                                   3
Name           van Melkebeke, Mr. Philemon
Sex                                   male
Age                                     80
SibSp                                    8
Parch                                    6
Ticket                           WE/P 5735
Fare                               512.329
dtype: object

        PassengerId    Survived      Pclass  ...        Fare        Cabin  Embarked
count    891.000000  891.000000  891.000000  ...  891.000000          204       889
unique          NaN         NaN         NaN  ...         NaN          147         3
top             NaN         NaN         NaN  ...         NaN  C23 C25 C27         S
freq            NaN         NaN         NaN  ...         NaN            4       644
mean     446.000000    0.383838    2.308642  ...   32.204208          NaN       NaN
std      257.353842    0.486592    0.836071  ...   49.693429          NaN       NaN
min        1.000000    0.000000    1.000000  ...    0.000000          NaN       NaN
25%      223.500000    0.000000    2.000000  ...    7.910400          NaN       NaN
50%      446.000000    0.000000    3.000000  ...   14.454200          NaN       NaN
75%      668.500000    1.000000    3.000000  ...   31.000000          NaN       NaN
max      891.000000    1.000000    3.000000  ...  512.329200          NaN       NaN

[11 rows x 12 columns]

In [36]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [0]:
for a in train_df.index[train_df['Age'].isnull()]:
  print(a)

In [0]:
g = sns.FacetGrid(train_df, col='Survived')
g.map(plt.hist, 'Age', bins=20)

In [0]:
grid = sns.FacetGrid(train_df, col='Survived', row='Pclass', size=2.2, aspect=1.6)
grid.map(plt.hist, 'Age', alpha=.5, bins=20)
grid.add_legend();

In [0]:
help(sns.FacetGrid)

In [0]:
train_df.corr(method='pearson')

In [0]:
train_df['Sex']

In [0]:
train_df[train_df['Embarked'] == 'S'].index

In [0]:
train_df

In [96]:
train_df.corr(method='pearson')

             PassengerId  Survived    Pclass  ...     Parch      Fare  Embarked
PassengerId     1.000000 -0.005007 -0.035144  ... -0.001652  0.012658  0.013078
Survived       -0.005007  1.000000 -0.338481  ...  0.081629  0.257307 -0.174199
Pclass         -0.035144 -0.338481  1.000000  ...  0.018443 -0.549500  0.170334
Sex            -0.042939  0.543351 -0.131900  ...  0.245489  0.182333 -0.115513
Age             0.036847 -0.077221 -0.369226  ... -0.189119  0.096067 -0.040248
SibSp          -0.057527 -0.035322  0.083081  ...  0.414838  0.159651  0.070653
Parch          -0.001652  0.081629  0.018443  ...  1.000000  0.216225  0.042325
Fare            0.012658  0.257307 -0.549500  ...  0.216225  1.000000 -0.229304
Embarked        0.013078 -0.174199  0.170334  ...  0.042325 -0.229304  1.000000

[9 rows x 9 columns]

In [106]:
df_1.corr(method='pearson')

             PassengerId  Survived    Pclass  ...     Parch      Fare  Embarked
PassengerId     1.000000 -0.005007 -0.035144  ... -0.001652  0.012658  0.013078
Survived       -0.005007  1.000000 -0.338481  ...  0.081629  0.257307 -0.174199
Pclass         -0.035144 -0.338481  1.000000  ...  0.018443 -0.549500  0.170334
Sex            -0.042939  0.543351 -0.131900  ...  0.245489  0.182333 -0.115513
Age             0.036847 -0.077221 -0.369226  ... -0.189119  0.096067 -0.040248
SibSp          -0.057527 -0.035322  0.083081  ...  0.414838  0.159651  0.070653
Parch          -0.001652  0.081629  0.018443  ...  1.000000  0.216225  0.042325
Fare            0.012658  0.257307 -0.549500  ...  0.216225  1.000000 -0.229304
Embarked        0.013078 -0.174199  0.170334  ...  0.042325 -0.229304  1.000000

[9 rows x 9 columns]

In [0]:
for index in train_df[train_df['Pclass'] == 1].index:
  train_df.loc[index,'Pclass'] = 'a'

In [0]:
for index in train_df[train_df['Pclass'] == 3].index:
  print(train_df.loc[index,'Cabin'])

aa

# 새 섹션aaa

In [0]:
Ytrain = train0["Survived"]
Xtrain = train0.drop("Survived",axis = 1)
Xtest = test0.drop("Survived",axis = 1)

In [0]:
Xtrain=Xtrain.astype('float32')
Ytrain=Ytrain.astype('float32')
Xtest=Xtest.astype('float32')

In [166]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null int64
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           417 non-null float64
Embarked       418 non-null int64
dtypes: float64(2), int64(6)
memory usage: 26.2 KB

In [0]:
df_2=df_2.fillna(0.0)
df_2=df_2.astype('float32')

# 새 섹션

In [0]:
Ytrain = train0["Survived"]
Xtrain = train0.drop("Survived",axis = 1)
Xtest = test0.drop("Survived",axis = 1)

In [0]:
Xtrain=Xtrain.astype('float32')
Ytrain=Ytrain.astype('float32')
Xtest=Xtest.astype('float32')

In [0]:
for index in Xtrain[Xtrain.isnull()].index:
  print(Xtrain.loc[index])

In [144]:
Xtrain[Xtrain.isnull()]

     PassengerId  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
114          NaN     NaN  NaN  NaN    NaN    NaN   NaN       NaN
874          NaN     NaN  NaN  NaN    NaN    NaN   NaN       NaN
76           NaN     NaN  NaN  NaN    NaN    NaN   NaN       NaN
876          NaN     NaN  NaN  NaN    NaN    NaN   NaN       NaN
674          NaN     NaN  NaN  NaN    NaN    NaN   NaN       NaN
..           ...     ...  ...  ...    ...    ...   ...       ...
715          NaN     NaN  NaN  NaN    NaN    NaN   NaN       NaN
767          NaN     NaN  NaN  NaN    NaN    NaN   NaN       NaN
72           NaN     NaN  NaN  NaN    NaN    NaN   NaN       NaN
235          NaN     NaN  NaN  NaN    NaN    NaN   NaN       NaN
37           NaN     NaN  NaN  NaN    NaN    NaN   NaN       NaN

[623 rows x 8 columns]

In [154]:
Xtest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268 entries, 862 to 92
Data columns (total 8 columns):
PassengerId    268 non-null float32
Pclass         268 non-null float32
Sex            268 non-null float32
Age            218 non-null float32
SibSp          268 non-null float32
Parch          268 non-null float32
Fare           268 non-null float32
Embarked       268 non-null float32
dtypes: float32(8)
memory usage: 10.5 KB

In [149]:
Xtrain[Xtrain.isnull()].index

Int64Index([114, 874,  76, 876, 674, 132, 605, 791,  58, 246,
            ...
            583, 129, 144, 847, 645, 715, 767,  72, 235,  37],
           dtype='int64', length=623)

In [170]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(Xtrain, Ytrain)
Ypred = random_forest.predict(df_2)
random_forest.score(Xtrain,Ytrain )
acc_random_forest = round(random_forest.score(Xtrain,Ytrain ) * 100, 2)
acc_random_forest

100.0

In [176]:
Ypred

array([0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0.,
       0., 0., 0., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0., 0., 0., 1., 1.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 1., 1., 1.,
       0., 1., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0.,
       1., 1., 0., 0., 0., 1., 1., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 1., 1., 1., 0., 1., 0., 1., 0., 1., 0., 0., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 1., 1.,
       1., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0.,
       1., 0., 0., 1., 0., 1., 1., 1., 1., 1., 0., 0., 1., 1., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1.,
       0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 1., 1., 1., 1.,
       0., 1., 0., 0., 1., 0., 0., 0., 0., 1., 1., 0., 1., 1., 1., 0., 1.,
       0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0.,
       1., 1., 1., 1., 0., 0., 0., 1., 1., 0., 1., 1., 1., 0., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 1., 0.,
       1., 1., 0., 1., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0.,
       0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 1.,
       1., 1., 1., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0.,
       1., 1., 0., 1., 1., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1.,
       0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 1., 1., 1., 0., 1., 0., 0.,
       1., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0.,
       1., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 1., 1., 0., 0.,
       1., 1., 1., 1., 0., 0., 1., 0., 0., 1.], dtype=float32)

In [171]:
df_2

     PassengerId  Pclass  Sex   Age  SibSp  Parch        Fare  Embarked
0          892.0     3.0  0.0  34.5    0.0    0.0    7.829200       1.0
1          893.0     3.0  1.0  47.0    1.0    0.0    7.000000       2.0
2          894.0     2.0  0.0  62.0    0.0    0.0    9.687500       1.0
3          895.0     3.0  0.0  27.0    0.0    0.0    8.662500       2.0
4          896.0     3.0  1.0  22.0    1.0    1.0   12.287500       2.0
..           ...     ...  ...   ...    ...    ...         ...       ...
413       1305.0     3.0  0.0   0.0    0.0    0.0    8.050000       2.0
414       1306.0     1.0  1.0  39.0    0.0    0.0  108.900002       0.0
415       1307.0     3.0  0.0  38.5    0.0    0.0    7.250000       2.0
416       1308.0     3.0  0.0   0.0    0.0    0.0    8.050000       2.0
417       1309.0     3.0  0.0   0.0    1.0    1.0   22.358299       0.0

[418 rows x 8 columns]

In [0]:
submission = pd.DataFrame({
        "PassengerId": df_2["PassengerId"],
        "Survived": Ypred
    })
submission.to_csv('aaa'+'titanic_SUBMISSION.csv', index=False)