<a href="https://colab.research.google.com/github/minicks/BigI/blob/master/titanic3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

데이터 불러오기

In [0]:
train_df = pd.read_csv('/content/drive/My Drive/train.csv')
test_df = pd.read_csv('/content/drive/My Drive/test.csv')
combine = [train_df, test_df]

# 전처리

## train 전 처리

전처리('Embarked') 문자를 숫자값으로

In [0]:
for index in train_df[train_df['Embarked'] == 'C'].index:
  train_df.loc[index,'Embarked'] = 1

for index in train_df[train_df['Embarked'] == 'Q'].index:
  train_df.loc[index,'Embarked'] = 2

for index in train_df[train_df['Embarked'] == 'S'].index:
  train_df.loc[index,'Embarked'] = 3

for index in train_df[train_df['Embarked'].isnull()].index:
  train_df.loc[index,'Embarked'] = 1

전처리('Sex') 문자를 숫자값으로

In [0]:
for index in train_df[train_df['Sex'] == 'male'].index:
  train_df.loc[index,'Sex'] = -1

for index in train_df[train_df['Sex'] == 'female'].index:
  train_df.loc[index,'Sex'] = 1

In [0]:
# Name,Ticket,Cabin col 삭제
df_1 = train_df.drop(columns=['Name','Ticket','Cabin'])

In [0]:
#train,valid 나누기 
train0,test0 = train_test_split(df_1,test_size=0.3, random_state=1)

test

In [0]:
train0=train0.fillna(0.0)
test0=test0.fillna(10.0)

## test 전처리

전처리('Embarked') 문자를 숫자값으로

In [0]:
for index in test_df[test_df['Embarked'] == 'C'].index:
  test_df.loc[index,'Embarked'] = 1

for index in test_df[test_df['Embarked'] == 'Q'].index:
  test_df.loc[index,'Embarked'] = 2

for index in test_df[test_df['Embarked'] == 'S'].index:
  test_df.loc[index,'Embarked'] = 3

for index in test_df[test_df['Embarked'].isnull()].index:
  test_df.loc[index,'Embarked'] = 1

전처리('Sex') 문자를 숫자값으로

In [0]:
for index in test_df[test_df['Sex'] == 'male'].index:
  test_df.loc[index,'Sex'] = -1

for index in test_df[test_df['Sex'] == 'female'].index:
  test_df.loc[index,'Sex'] = 1

In [0]:
# Name,Ticket,Cabin col 삭제
df_2 = test_df.drop(columns=['Name','Ticket','Cabin'])

In [0]:
df_2=df_2.astype('float32')

In [0]:
df_2=df_2.fillna(20.0)

## 회귀 넣기 전 데이터 *처리*

In [0]:
Ytrain = train0["Survived"]
Xtrain = train0.drop("Survived",axis = 1)
Ytest = test0["Survived"]
Xtest = test0.drop("Survived",axis = 1)

In [0]:
Xtrain=Xtrain.astype('float32')
Ytrain=Ytrain.astype('float32')
Xtest=Xtest.astype('float32')
Ytest=Ytest.astype('float32')

## 전처리 test

In [0]:
for index in train_df[train_df['Age'].isnull()].index:
  train_df=train_df.drop(index=index)

In [0]:
for index in test_df[test_df['Age'].isnull()].index:
  test_df=test_df.drop(index=index)

나이 변환

In [0]:
for index in train_df[train_df['Age'].isnull()].index:
  if (train_df.loc[index,'SibSp']==0) & (train_df.loc[index,'Parch']==0):
    train_df.loc[index,'Age'] = 32.0
  elif (train_df.loc[index,'SibSp']==0) & ((2>=train_df.loc[index,'Parch']) & (train_df.loc[index,'Parch'] > 0)):
    train_df.loc[index,'Age'] = 26.0
  elif (train_df.loc[index,'SibSp'] == 0) & (train_df.loc[index,'Parch'] > 2):
    train_df.loc[index,'Age'] = 32.0
  elif ((2 >= train_df.loc[index,'SibSp']) & (train_df.loc[index,'SibSp'] > 0)) & (train_df.loc[index,'Parch']==0):
    train_df.loc[index,'Age'] = 32.0
  elif ((2 >= train_df.loc[index,'SibSp']) & (train_df.loc[index,'SibSp'] > 0)) & ((2>=train_df.loc[index,'Parch']) &(train_df.loc[index,'Parch'] > 0)):
    train_df.loc[index,'Age'] = 23.0
  elif ((2>=train_df.loc[index,'SibSp']) & (train_df.loc[index,'SibSp'] > 0)) & (train_df.loc[index,'Parch'] > 2):
    train_df.loc[index,'Age'] = 40.0
  elif (train_df.loc[index,'SibSp']>2) & (train_df.loc[index,'Parch']==0):
    train_df.loc[index,'Age'] = 31.0
  elif (train_df.loc[index,'SibSp']>2) & ((2>=train_df.loc[index,'Parch']) &(train_df.loc[index,'Parch'] > 0)):
    train_df.loc[index,'Age'] = 8.0
  elif (train_df.loc[index,'SibSp']>2) & (train_df.loc[index,'Parch'] > 2):
    train_df.loc[index,'Age'] = 32.0

In [0]:
for index in test_df[test_df['Age'].isnull()].index:
  if (test_df.loc[index,'SibSp']==0) & (test_df.loc[index,'Parch']==0):
    test_df.loc[index,'Age'] = 32.0
  if (test_df.loc[index,'SibSp']==0) & ((2>=test_df.loc[index,'Parch']) &(test_df.loc[index,'Parch'] > 0)):
    test_df.loc[index,'Age'] = 26.0
  if (test_df.loc[index,'SibSp']==0) & (test_df.loc[index,'Parch'] > 2):
    test_df.loc[index,'Age'] = 32.0
  if ((2>=test_df.loc[index,'SibSp']) &(test_df.loc[index,'SibSp'] > 0)) & (test_df.loc[index,'Parch']==0):
    test_df.loc[index,'Age'] = 32.0
  if ((2>=test_df.loc[index,'SibSp']) &(test_df.loc[index,'SibSp'] > 0)) & ((2>=test_df.loc[index,'Parch']) &(test_df.loc[index,'Parch'] > 0)):
    test_df.loc[index,'Age'] = 23.0
  if ((2>=test_df.loc[index,'SibSp']) &(test_df.loc[index,'SibSp'] > 0)) & (test_df.loc[index,'Parch'] > 2):
    test_df.loc[index,'Age'] = 40.0
  if (test_df.loc[index,'SibSp']>2) & (test_df.loc[index,'Parch']==0):
    test_df.loc[index,'Age'] = 31.0
  if (test_df.loc[index,'SibSp']>2) & ((2>=test_df.loc[index,'Parch']) &(test_df.loc[index,'Parch'] > 0)):
    test_df.loc[index,'Age'] = 8.0
  if (test_df.loc[index,'SibSp']>2) & (test_df.loc[index,'Parch'] > 2):
    test_df.loc[index,'Age'] = 32.0

test

In [0]:
train_df[((2>=train_df['SibSp']) &(train_df['SibSp'] > 0)) & (train_df['Parch'] > 2)].describe()

       PassengerId   Survived     Pclass  ...      Parch        Fare  Embarked
count    11.000000  11.000000  11.000000  ...  11.000000   11.000000      11.0
mean    394.090909   0.272727   2.636364  ...   4.090909   51.830682       2.0
std     286.587318   0.467099   0.674200  ...   1.044466   70.398924       0.0
min      14.000000   0.000000   1.000000  ...   3.000000   18.750000       2.0
25%     127.500000   0.000000   2.500000  ...   3.000000   27.900000       2.0
50%     438.000000   0.000000   3.000000  ...   4.000000   31.275000       2.0
75%     645.000000   0.500000   3.000000  ...   5.000000   34.375000       2.0
max     775.000000   1.000000   3.000000  ...   6.000000  263.000000       2.0

[8 rows x 9 columns]

In [0]:
train_df[((2>=train_df['SibSp']) &(train_df['SibSp'] > 0)) & ((2>=train_df['Parch']) &(train_df['Parch'] > 0))].describe()

       PassengerId   Survived     Pclass  ...      Parch        Fare   Embarked
count    87.000000  87.000000  87.000000  ...  87.000000   87.000000  87.000000
mean    505.655172   0.620690   2.149425  ...   1.264368   48.300095   1.494253
std     237.869899   0.488028   0.785460  ...   0.443553   51.176470   0.860956
min      11.000000   0.000000   1.000000  ...   1.000000    7.229200   0.000000
25%     317.500000   0.000000   2.000000  ...   1.000000   19.258300   1.000000
50%     531.000000   1.000000   2.000000  ...   1.000000   26.250000   2.000000
75%     704.500000   1.000000   3.000000  ...   2.000000   52.554200   2.000000
max     889.000000   1.000000   3.000000  ...   2.000000  262.375000   2.000000

[8 rows x 9 columns]

In [0]:
train_df[((2>=train_df['SibSp']) &(train_df['SibSp'] > 0)) & (train_df['Parch'] == 0)].describe()

       PassengerId    Survived      Pclass  ...  Parch        Fare    Embarked
count   139.000000  139.000000  139.000000  ...  139.0  139.000000  139.000000
mean    396.575540    0.489209    2.014388  ...    0.0   42.472365    1.366906
std     251.814055    0.501691    0.892689  ...    0.0   36.302765    0.885830
min       1.000000    0.000000    1.000000  ...    0.0    6.495800    0.000000
25%     169.500000    0.000000    1.000000  ...    0.0   15.700000    0.000000
50%     393.000000    0.000000    2.000000  ...    0.0   26.000000    2.000000
75%     603.000000    1.000000    3.000000  ...    0.0   63.887500    2.000000
max     875.000000    1.000000    3.000000  ...    0.0  227.525000    2.000000

[8 rows x 9 columns]

In [0]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       891 non-null int64
dtypes: float64(2), int64(7)
memory usage: 62.8 KB

In [0]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null float32
Pclass         418 non-null float32
Sex            418 non-null float32
Age            418 non-null float32
SibSp          418 non-null float32
Parch          418 non-null float32
Fare           418 non-null float32
Embarked       418 non-null float32
dtypes: float32(8)
memory usage: 13.2 KB

# 정보 모으기

In [0]:
print(train_df.sort_values(by='Survived'))
print(train_df.columns.values)
print('======================================================')
print(test_df)
print(test_df.columns.values)
print('======================================================')
print(combine)
print('======================================================')

In [0]:
print(train_df.min())
print(train_df.max())
train_df.describe(include='all')

In [0]:
train_df.info()

In [0]:
for a in train_df.index[train_df['Age'].isnull()]:
  print(a)

In [0]:
g = sns.FacetGrid(train_df, col='Survived')
g.map(plt.hist, 'Age', bins=20)

In [0]:
grid = sns.FacetGrid(train_df, col='Survived', row='Pclass', size=2.2, aspect=1.6)
grid.map(plt.hist, 'Cabin', alpha=.5, bins=20)
grid.add_legend();

In [0]:
for index in train_df[train_df['Age'].isnull()].index:
  print(train_df.loc[index,['Pclass','SibSp','Parch']])

In [0]:

for index in train_df[(train_df['Age'].isnull()) & (train_df['SibSp'] == 0) & (train_df['Parch'] == 0)].index:
  print(train_df.loc[index,['Pclass','SibSp','Parch','Fare','Embarked','Cabin']])

In [0]:
train_df.corr(method='pearson')

In [0]:
train_df.info()

In [0]:
train_df.corr(method='pearson')

In [0]:
train_df.describe()

In [0]:
for index in train_df[train_df['Pclass'] == 1].index:
  train_df.loc[index,'Pclass'] = 'a'

In [0]:
for index in train_df[train_df['Pclass'] == 3].index:
  print(train_df.loc[index,'Cabin'])

# 회귀 분석

In [0]:
random_forest = RandomForestClassifier(n_estimators=1000)
random_forest.fit(Xtrain, Ytrain)
Ftrain = random_forest.predict(Xtrain)
Ydf_2 = random_forest.predict(df_2)
random_forest.score(Xtest,Ytest )
random_forest.score(Xtrain, Ytrain )
random_forest.score(df_2, Ydf_2 )
acc_random_forest1 = round(random_forest.score(Xtrain, Ftrain ) * 100, 2)
acc_random_forest2 = round(random_forest.score(Xtest,Ytest ) * 100, 2)
acc_random_forest3 = round(random_forest.score(df_2,Ydf_2 ) * 100, 2)
print('train : ' , acc_random_forest1)
print('valid : ' , acc_random_forest2)
print('test : ' ,acc_random_forest3)

train :  100.0
valid :  77.99
test :  100.0

# 파일 저장

In [0]:
submission = pd.DataFrame({
        "PassengerId": df_2["PassengerId"],
        "Survived": Ydf_2
    })
submission.to_csv('age_'+'titanic_SUBMISSION.csv', index=False)

# 새 섹션

In [0]:
Ytrain = train0["Survived"]
Xtrain = train0.drop("Survived",axis = 1)
Xtest = test0.drop("Survived",axis = 1)

In [0]:
Xtrain=Xtrain.astype('float32')
Ytrain=Ytrain.astype('float32')
Xtest=Xtest.astype('float32')

In [0]:
for index in Xtrain[Xtrain.isnull()].index:
  print(Xtrain.loc[index])

In [0]:
Xtrain[Xtrain.isnull()]

In [0]:
Xtest.info()

In [0]:
Xtrain[Xtrain.isnull()].index

In [0]:
Ypred

In [0]:
df_2