<a href="https://colab.research.google.com/github/minicks/BigI/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [79]:
a=np.hstack([list('ABCDE')])
b=np.round(np.random.rand(3, 5), 2)
a
c=''
for b in list('ABCDE'):
  c = np.vstack([c,b])
  print(b)
  print(c)
c.T

A
[['']
 ['A']]
B
[['']
 ['A']
 ['B']]
C
[['']
 ['A']
 ['B']
 ['C']]
D
[['']
 ['A']
 ['B']
 ['C']
 ['D']]
E
[['']
 ['A']
 ['B']
 ['C']
 ['D']
 ['E']]

array([['', 'A', 'B', 'C', 'D', 'E']], dtype='|S1')

In [65]:
np.vstack(['a','b'])

array([['a'],
       ['b']], dtype='|S1')

In [88]:
np.random.seed(0)
df1 = pd.DataFrame(np.hstack([np.vstack([list('ABCDE')]).T,
                              np.round(np.random.rand(5, 3), 2)]))
df1

   0     1     2     3
0  A  0.55  0.72   0.6
1  B  0.54  0.42  0.65
2  C  0.44  0.89  0.96
3  D  0.38  0.79  0.53
4  E  0.57  0.93  0.07

In [87]:
np.vstack([list('ABCDE')]).T

array([['A'],
       ['B'],
       ['C'],
       ['D'],
       ['E']], dtype='|S1')