<a href="https://colab.research.google.com/github/minicks/BigI/blob/master/temp/temp_63955.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 라이브러리 및 데이터
Library & Data

In [3]:
import os, sys 
from google.colab import drive 
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [4]:
import seaborn as sns
import pandas as pd
import numpy as np
from tqdm import tqdm
import random
import tensorflow as tf
import matplotlib.pyplot as plt
import os

In [0]:
# 재생산성을 위해 시드 고정
np.random.seed(7)
random.seed(7)

In [0]:
# 작업 환경 변경 
os.chdir('/content/drive/My Drive/AI프렌즈/')

In [0]:
train = pd.read_csv('data/train.csv', index_col = 'id')
test = pd.read_csv('data/test.csv', index_col = 'id')

# ㅁ

In [8]:
train

       X00    X01  X02  X03  X04     X05  ...   Y13  Y14  Y15  Y16  Y17   Y18
id                                        ...
0      9.7  988.8  1.2  0.6  0.0  1009.3  ...  10.0  9.5  9.0  8.0  9.0   NaN
1      9.3  988.9  1.7  1.9  0.0  1009.3  ...  10.0  9.5  9.0  7.5  9.0   NaN
2      9.4  989.0  1.1  2.3  0.0  1009.2  ...   9.5  9.5  8.5  7.5  8.5   NaN
3      9.4  988.9  1.5  0.7  0.0  1009.2  ...   9.5  9.0  8.5  7.5  8.5   NaN
4      9.2  988.9  0.8  1.7  0.0  1009.2  ...   9.5  9.0  8.5  7.5  8.5   NaN
...    ...    ...  ...  ...  ...     ...  ...   ...  ...  ...  ...  ...   ...
4747  19.9  987.6  0.9  0.8  0.0  1006.9  ...   NaN  NaN  NaN  NaN  NaN  21.5
4748  19.9  987.6  0.5  0.7  0.0  1006.8  ...   NaN  NaN  NaN  NaN  NaN  21.5
4749  19.7  987.7  0.9  0.6  0.0  1006.9  ...   NaN  NaN  NaN  NaN  NaN  21.5
4750  19.4  987.7  0.9  0.8  0.0  1006.9  ...   NaN  NaN  NaN  NaN  NaN  21.5
4751  19.1  987.6  1.0  0.3  0.0  1006.8  ...   NaN  NaN  NaN  NaN  NaN  21.0

[4752 rows x 59 columns]

In [0]:
trainX = train.iloc[: , 1:41]
trainY = train.iloc[: , 42:]

In [10]:
trainX

        X01  X02  X03  X04     X05    X06  ...    X35  X36   X37   X38  X39   Y00
id                                         ...
0     988.8  1.2  0.6  0.0  1009.3  989.6  ...  256.4  0.0  77.2  62.6  0.0  12.5
1     988.9  1.7  1.9  0.0  1009.3  989.6  ...  215.4  0.0  77.3  63.5  0.0  12.5
2     989.0  1.1  2.3  0.0  1009.2  989.7  ...  235.2  0.0  77.3  63.9  0.0  12.0
3     988.9  1.5  0.7  0.0  1009.2  989.6  ...  214.0  0.0  77.5  64.5  0.0  12.0
4     988.9  0.8  1.7  0.0  1009.2  989.7  ...  174.9  0.0  78.0  65.0  0.0  12.0
...     ...  ...  ...  ...     ...    ...  ...    ...  ...   ...   ...  ...   ...
4747  987.6  0.9  0.8  0.0  1006.9  987.7  ...  218.6  0.0  82.3  58.6  0.5   NaN
4748  987.6  0.5  0.7  0.0  1006.8  987.7  ...  161.7  0.0  82.5  59.1  0.5   NaN
4749  987.7  0.9  0.6  0.0  1006.9  987.6  ...  254.2  0.0  83.0  58.9  0.5   NaN
4750  987.7  0.9  0.8  0.0  1006.9  987.8  ...  300.0  0.0  83.2  59.8  0.5   NaN
4751  987.6  1.0  0.3  0.0  1006.8  987.8  ...  157.5  0.0  84.0  59.5  0.5   NaN

[4752 rows x 40 columns]

In [11]:
#0~4319, 4320~4751
trainY

       Y02   Y03   Y04   Y05   Y06   Y07  ...   Y13  Y14  Y15  Y16  Y17   Y18
id                                        ...
0     11.0  20.0  20.0  10.5  10.0  10.5  ...  10.0  9.5  9.0  8.0  9.0   NaN
1     11.0  20.0  20.0  10.0   9.5  10.0  ...  10.0  9.5  9.0  7.5  9.0   NaN
2     11.0  19.5  19.5  10.0   9.0  10.0  ...   9.5  9.5  8.5  7.5  8.5   NaN
3     11.0  19.5  19.5   9.5   9.0   9.5  ...   9.5  9.0  8.5  7.5  8.5   NaN
4     10.5  19.0  19.5   9.5   8.5   9.5  ...   9.5  9.0  8.5  7.5  8.5   NaN
...    ...   ...   ...   ...   ...   ...  ...   ...  ...  ...  ...  ...   ...
4747   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN  NaN  NaN  NaN  NaN  21.5
4748   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN  NaN  NaN  NaN  NaN  21.5
4749   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN  NaN  NaN  NaN  NaN  21.5
4750   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN  NaN  NaN  NaN  NaN  21.5
4751   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN  NaN  NaN  NaN  NaN  21.0

[4752 rows x 17 columns]

#2. 데이터 전처리
Data Cleansing & Pre-Processing

In [0]:
# 기상청 데이터만 추출
X_train = train.loc[:,'X00':'X39']

# standardization을 위해 평균과 표준편차 구하기
MEAN = X_train.mean()
STD = X_train.std()

# 표준편차가 0일 경우 대비하여 1e-07 추가 
X_train = (X_train - MEAN) / (STD + 1e-07)

In [0]:
# RNN 모델에 입력 할 수 있는 시계열 형태로 데이터 변환 
def convert_to_timeseries(df, interval):
    sequence_list = []
    target_list = []
    
    for i in tqdm(range(df.shape[0] - interval)):
        sequence_list.append(np.array(df.iloc[i:i+interval,:-1]))
        target_list.append(df.iloc[i+interval,-1])
    
    sequence = np.array(sequence_list)
    target = np.array(target_list)
    
    return sequence, target

In [14]:
y_columns = ['Y15','Y16']
# t시점 이전 120분의 데이터로 t시점의 온도를 추정할 수 있는 학습데이터 형성
sequence = np.empty((0, 12, 40))
target = np.empty((0,))
for column in y_columns :
    
    concat = pd.concat([X_train, train[column]], axis = 1)

    _sequence, _target = convert_to_timeseries(concat.head(144*30), interval = 12)

    sequence = np.vstack((sequence, _sequence))
    target = np.hstack((target, _target))

100%|██████████| 4308/4308 [00:01<00:00, 3578.69it/s]
100%|██████████| 4308/4308 [00:01<00:00, 3759.21it/s]

In [0]:
# convert_to_timeseries 함수를 쓰기 위한 dummy feature 생성
X_train['dummy'] = 0

In [0]:
# train set에서 도출된 평균과 표준편차로 standardization 실시 
test = (test - MEAN) / (STD + 1e-07)

In [0]:
# convert_to_timeseries 함수를 쓰기 위한 dummy feature 생성
test['dummy'] = 0

In [18]:
# train과 test 기간을 합쳐서 120분 간격으로 학습데이터 재구축
X_test, _ = convert_to_timeseries(pd.concat([X_train, test], axis = 0), interval=12)

100%|██████████| 16260/16260 [00:05<00:00, 2788.75it/s]

In [0]:
# test set 기간인 후반부 80일에 맞게 자르기 
X_test = X_test[-11520:, :, :]

In [0]:
# 만들어 두었던 dummy feature 제거
X_train.drop('dummy', axis = 1, inplace = True)
test.drop('dummy', axis = 1, inplace = True)

#4. 변수 선택 및 모델 구축 
Feature Engineering & Initial Modeling

In [21]:
# Metric define
def mse_keras(y_true, y_pred):
  def mse_AIFrenz(y_true, y_pred):
    diff = abs(y_true - y_pred)
    less_then_one = np.where(diff < 1, 0, diff)
    # multi-column일 경우에도 계산 할 수 있도록 np.average를 한번 더 씌움
    try:
        score = np.average(np.average(less_then_one ** 2, axis = 0))
    except ValueError:
        score = mean_squared_error(y_true, y_pred)
    return score

  score = tf.py_function(func=mse_AIFrenz, inp=[y_true, y_pred], Tout=tf.float32,  name='custom_mse') # tf 2.x
  #score = tf.py_func( lambda y_true, y_pred : mse_AIFrenz(y_true, y_pred) , [y_true, y_pred], 'float32', stateful = False, name = 'custom_mse' ) # tf 1.x
  return score

# Model build
def build_model(lr):
  simple_lstm_model = tf.keras.models.Sequential([
      tf.keras.layers.LSTM(128, input_shape=sequence.shape[-2:]),
      tf.keras.layers.Dense(128, activation='linear'),
      tf.keras.layers.Dense(64, activation='linear'),
      tf.keras.layers.Dense(1)
  ])
  
  # opt = tf.keras.optimizers.RMSprop(lr)
  opt = tf.keras.optimizers.Adam(lr)
  
  simple_lstm_model.compile(optimizer=opt, loss='mse', metrics=[mse_keras])

  return simple_lstm_model

LEARNINGRATE = 0.001
simple_lstm_model = build_model(LEARNINGRATE)
simple_lstm_model.summary()

WARNING:tensorflow:From /tensorflow-1.15.0/python3.6/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 128)               86528
_________________________________________________________________
dense (Dense)                (None, 128)               16512
_________________________________________________________________
dense_1 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 111,361
Trainable params: 111,361
Non-trainable params: 0
_________________________________________________________________

#5. 모델 학습 및 검증
Model Tuning & Evaluation

In [0]:
# loss가 4미만으로 떨어지면 학습 종료 시키는 기능
class myCallback(tf.keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs = None):
        if(logs.get('loss') < 4):
            print('\n Loss is under 4, cancelling training')
            self.model.stop_training = True

In [0]:
callbacks = myCallback()

In [24]:
# 모델 학습
simple_lstm_model.fit(    
    sequence, target,
    epochs=60,
    batch_size=128,
    verbose=2,
    shuffle=False,
    callbacks = [callbacks]
)

WARNING:tensorflow:From /tensorflow-1.15.0/python3.6/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Train on 8616 samples
Epoch 1/60
8616/8616 - 3s - loss: 171.0840 - mse_keras: 169.5137
Epoch 2/60
8616/8616 - 1s - loss: 12.5866 - mse_keras: 12.4188
Epoch 3/60
8616/8616 - 1s - loss: 8.5476 - mse_keras: 8.3755
Epoch 4/60
8616/8616 - 1s - loss: 7.3360 - mse_keras: 7.1591
Epoch 5/60
8616/8616 - 1s - loss: 6.7973 - mse_keras: 6.6284
Epoch 6/60
8616/8616 - 1s - loss: 6.5535 - mse_keras: 6.3878
Epoch 7/60
8616/8616 - 1s - loss: 6.4878 - mse_keras: 6.3290
Epoch 8/60
8616/8616 - 1s - loss: 6.6022 - mse_keras: 6.4507
Epoch 9/60
8616/8616 - 1s - loss: 6.6628 - mse_keras: 6.5167
Epoch 10/60
8616/8616 - 1s - loss: 6.3738 - mse_keras: 6.2300
Epoch 11/60
8616/8616 - 1s - loss: 5.9431 - mse_keras: 5.7906
Epoch 12/60
8616/8616 - 1s - loss: 5.7300 - mse_keras: 5.5755
Epoch 13/60
8616/8616 - 1s - loss: 5.5199 - mse_keras: 5.3602
Epoch 14/60
8616/8616 - 1s - loss: 5.8496 - mse_keras: 5.6963
Epoch 15/60
8616/8616 - 1s - loss: 4.7805 - mse_keras: 4.6108
Epoch 16/60
8616/8616 - 1s - loss: 4.9096 - mse_keras: 4.7408
Epoch 17/60
8616/8616 - 1s - loss: 4.7946 - mse_keras: 4.6283
Epoch 18/60
8616/8616 - 1s - loss: 4.5694 - mse_keras: 4.3999
Epoch 19/60
8616/8616 - 1s - loss: 4.1533 - mse_keras: 3.9865
Epoch 20/60
8616/8616 - 1s - loss: 4.3670 - mse_keras: 4.1963
Epoch 21/60
8616/8616 - 1s - loss: 4.7284 - mse_keras: 4.5660
Epoch 22/60
8616/8616 - 1s - loss: 4.5003 - mse_keras: 4.3330
Epoch 23/60
8616/8616 - 1s - loss: 4.3449 - mse_keras: 4.1956
Epoch 24/60
8616/8616 - 1s - loss: 4.8199 - mse_keras: 4.6604
Epoch 25/60
8616/8616 - 1s - loss: 5.5875 - mse_keras: 5.4261
Epoch 26/60
8616/8616 - 1s - loss: 4.7812 - mse_keras: 4.6456
Epoch 27/60
8616/8616 - 1s - loss: 5.4896 - mse_keras: 5.3255
Epoch 28/60
8616/8616 - 1s - loss: 6.5176 - mse_keras: 6.3540
Epoch 29/60
8616/8616 - 1s - loss: 5.9839 - mse_keras: 5.8391
Epoch 30/60
8616/8616 - 1s - loss: 7.1148 - mse_keras: 6.9618
Epoch 31/60
8616/8616 - 1s - loss: 8.2171 - mse_keras: 8.0512
Epoch 32/60
8616/8616 - 1s - loss: 8.5268 - mse_keras: 8.4423
Epoch 33/60
8616/8616 - 1s - loss: 9.7300 - mse_keras: 9.5976
Epoch 34/60
8616/8616 - 1s - loss: 10.5978 - mse_keras: 10.5507
Epoch 35/60
8616/8616 - 1s - loss: 10.7550 - mse_keras: 10.6378
Epoch 36/60
8616/8616 - 1s - loss: 9.2754 - mse_keras: 9.1653
Epoch 37/60
8616/8616 - 1s - loss: 11.7317 - mse_keras: 11.5687
Epoch 38/60
8616/8616 - 1s - loss: 8.6801 - mse_keras: 8.5108
Epoch 39/60
8616/8616 - 1s - loss: 8.8320 - mse_keras: 8.6562
Epoch 40/60
8616/8616 - 1s - loss: 6.6527 - mse_keras: 6.4814
Epoch 41/60
8616/8616 - 1s - loss: 5.0361 - mse_keras: 4.8655
Epoch 42/60
8616/8616 - 1s - loss: 4.1943 - mse_keras: 4.0191
Epoch 43/60

 Loss is under 4, cancelling training
8616/8616 - 1s - loss: 3.7743 - mse_keras: 3.5974

In [0]:
# LSTM 레이어는 고정
simple_lstm_model.layers[0].trainable = False

In [26]:
# fine tuning 할 때 사용할 학습데이터 생성 (Y18)
finetune_X, finetune_y = convert_to_timeseries(pd.concat([X_train.tail(432), train['Y18'].tail(432)], axis = 1), interval=12)

100%|██████████| 420/420 [00:00<00:00, 2348.73it/s]

In [27]:
# LSTM 레이어는 고정 시켜두고, DNN 레이어에 대해서 fine tuning 진행 (Transfer Learning)
finetune_history = simple_lstm_model.fit(
            finetune_X, finetune_y,
            epochs=20,
            batch_size=64,
            shuffle=False,
            verbose = 2)

WARNING:tensorflow:Discrepancy between trainable weights and collected trainable weights, did you set `model.trainable` without calling `model.compile` after ?
Train on 420 samples
Epoch 1/20
420/420 - 0s - loss: 7.0307 - mse_keras: 7.2865
Epoch 2/20
420/420 - 0s - loss: 4.0183 - mse_keras: 3.7111
Epoch 3/20
420/420 - 0s - loss: 3.2984 - mse_keras: 2.9557
Epoch 4/20
420/420 - 0s - loss: 2.5430 - mse_keras: 2.2340
Epoch 5/20
420/420 - 0s - loss: 1.9638 - mse_keras: 1.6759
Epoch 6/20
420/420 - 0s - loss: 1.6251 - mse_keras: 1.3524
Epoch 7/20
420/420 - 0s - loss: 1.3390 - mse_keras: 1.0965
Epoch 8/20
420/420 - 0s - loss: 1.1576 - mse_keras: 0.9212
Epoch 9/20
420/420 - 0s - loss: 1.0087 - mse_keras: 0.7858
Epoch 10/20
420/420 - 0s - loss: 0.8985 - mse_keras: 0.6887
Epoch 11/20
420/420 - 0s - loss: 0.8089 - mse_keras: 0.6019
Epoch 12/20
420/420 - 0s - loss: 0.7366 - mse_keras: 0.5222
Epoch 13/20
420/420 - 0s - loss: 0.6803 - mse_keras: 0.4684
Epoch 14/20
420/420 - 0s - loss: 0.6306 - mse_keras: 0.4306
Epoch 15/20
420/420 - 0s - loss: 0.5892 - mse_keras: 0.3986
Epoch 16/20
420/420 - 0s - loss: 0.5535 - mse_keras: 0.3625
Epoch 17/20
420/420 - 0s - loss: 0.5227 - mse_keras: 0.3345
Epoch 18/20
420/420 - 0s - loss: 0.4951 - mse_keras: 0.3021
Epoch 19/20
420/420 - 0s - loss: 0.4707 - mse_keras: 0.2770
Epoch 20/20
420/420 - 0s - loss: 0.4486 - mse_keras: 0.2560

In [0]:
# 예측하기 
finetune_pred = simple_lstm_model.predict(X_test)

In [0]:
# 제출 파일 만들기
submit = pd.DataFrame({'id':range(144*33, 144*113),
              'Y18':finetune_pred.reshape(1,-1)[0]})

In [0]:
submit.to_csv('baseline_result2.csv', index = False)

In [0]:
X_test

In [0]:
a = finetune_pred.flatten()
print(len(a))

plt.figure(figsize=(16,8))
plt.plot(a)
plt.plot(test.loc[:,['X00','X07','X28','X31','X32']].values) # 강수량
#test.loc[:,['X00','X07','X28','X31','X32']].plot(figsize=(16,8),title='기온')
x_ = 144
while x_ < 144*80: 
  plt.axvline(x=x_, color='b', linestyle='--', linewidth=1)
  x_ += 144
plt.show()

In [0]:
test.loc[:,['X00','X07','X28','X31','X32']].plot(figsize=(16,8),title='기온')

In [0]:
test

In [0]:
%pwd

In [0]:
%cd ..

In [0]:
%ls

In [0]:
%cd notebooks

#TEST

In [0]:
y18 = train[~train['Y18'].isnull()]['Y18'].reset_index(drop= True)
no_y18_target = ['Y00', 'Y01', 'Y02', 'Y03', 'Y04', 'Y05', 'Y06', 'Y07', 'Y08','Y09', 'Y10', 'Y11', 'Y12', 'Y13', 'Y14', 'Y15', 'Y16', 'Y17']
no_y18 = train[(train['Y18'].isnull()) & (train['id'] > 3887)][no_y18_target].reset_index(drop = True)
check_target = pd.concat([no_y18, y18], axis = 1)

In [0]:
correlations =  check_target.corr()
plt.figure(figsize = (14, 12))

# Heatmap of correlations
sns.heatmap(correlations, cmap = plt.cm.RdYlBu_r,  vmin = 0.2, annot = True, vmax = 0.9)
plt.title('Correlation Heatmap');

In [0]:
trainY.describe(include='all')

In [0]:
train.info()

In [0]:
plt.figure(figsize=(16,8))
plt.plot(train.loc[:,['Y18']].values)
plt.plot(train.loc[:,['X00','X07','X28','X31','X32']].values) # 기온
#test.loc[:,['X00','X07','X28','X31','X32']].plot(figsize=(16,8),title='기온')
x_ = 144
while x_ < 144*80: 
  plt.axvline(x=x_, color='b', linestyle='--', linewidth=1)
  x_ += 144
plt.show()